/* common */

* {
    box-sizing: border-box;
}

/* header */

.header {
    margin-bottom: 48px;
    padding: 16px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner .ttl,
.site-menu li {
    color: #092E82;
}

.header-inner .ttl {
    font-size: 24px;
}

.site-menu ul {
    list-style: none;
    display: flex;
    margin-right: 24px;
}

.site-menu li {
    margin-left: 32px;
}

.site-menu li:first-child {
    margin-left: 0;
}

/* main */

.first-view {
    position: relative;
}

.first-view__text {
    position: absolute;
    top: 70%;
    width: 100%;
}

.first-view__text h2 {
    font-size: 44px;
    font-weight: 500;
    color: #092E82;
    position: relative;
}

.first-view__text h2::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00277E;
    display: inline-block;
    width: 80%;
    height: 12vw;
    overflow: hidden;
    z-index: -1;
}

.first-view__img {
    width: 50%;
    margin-left: auto;
}

.first-view__img img {
    width: 100%;
    object-fit: cover;
}